.nav {
  background-color: white;
  padding: 12px 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.nav h1 {
  color: #333;
  margin: 0;
  font-size: 1.5rem;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-link {
  margin-right: 30px;
}

.nav-link a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.nav-link a:hover {
  color: #007bff;
}

.nav-btn {
  background-color: transparent;
  color: #007bff;
  border: 2px solid #007bff;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
}

.nav-btn:hover {
  background-color: #007bff;
  color: white;
}
